/**
* border radius
**/
.btn,
.nav :hover {
  border-radius: 0px;
}

/**
* product image on card
**/
.product-img {
  min-height: 100px;
}

/**
*cart badge
**/
.cart-badge,
.cart-badge:hover {
  margin-left: 5px;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  background: #951616;
}

.menu:hover,
.menu {
  color: #951616;
  font-size: 40px;
}

.nav-item {
  padding: 10px;
}

.menuC {
  color: #000000;
  font-size: 25px;
  cursor: pointer;
}

.product-page-heading,
.title,
.btn,
.card-header,
.heading {
  font-family: 'Rochester', cursive;
}
.product-details,
.card-body,
.fontSnd {
  font-family: 'Quicksand', sans-serif;
}

.title {
  font-size: 120px;
}

.titleHome {
  font-size: 60px;
  font-family: 'Rochester', cursive;
}

.btn {
  font-size: 20px;
}

.fa.fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
