/**
* border radius
**/
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

/**
* product image on card
**/
.product-img {
  min-height: 100px;
}

/**
*cart badge
**/
.cart-badge,
.cart-badge:hover {
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  background: #951616;
}

.product-page-heading,
.title,
.btn,
.card-header,
.heading {
  font-family: 'Rochester', cursive;
}
.product-details,
.card-body {
  font-family: 'Quicksand', sans-serif;
}

.title {
  font-size: 100px;
}

.btn {
  font-size: 20px;
}
